body{
    background-color: #eeeeee;
    text-align: center;
    margin: 20px;
    padding:20px;
}
.row{
    margin: auto;
}
#center-container{
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
}

textarea {
    width: 100%;
    margin: auto;
    margin-top: 4px;
    margin-bottom: -1px !important;
    border: dashed 1px #a9c5e8;
    resize: none;
}

#generate-head{

}

#generate {
    background-color:brown; 
    color: white;
}

#copy {

    background-color:#bbbb; 
    color: white;

}

button {
    margin: 10px;
}